<!DOCTYPE>
<html ng-app="Viewer">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0">
<title>
Yackeen Solutions
</title>
<head>
	<link rel="shortcut icon" type="image/ico" href="assets/favicon.ico"/>
</head>
<body>
	<div class="splashbg" style="width:100%; height:100%; position:absolute; top:0; left:0; z-index:999; background-color:#1f9aff;">
	</div>
	<div class="mask"></div>
	<div class="navigator">
		<div class="logo"></div>
		<div class="active"></div>
		<ul>
			<li id="s0" class=""><span>ABOUT</span></li>
			<li id="s1" class=""><span>SOLUTIONS</span></li>
			<li id="s2" class=""><span>EDUGO</span></li>
			<li id="s3" class=""><span>PROJECTS</span></li>
			<li id="s4" class=""><span>PARTNERS</span></li>
			<li id="s5" class=""><span>TEAM</span></li>
			<li id="s6" class="jtextfill"><span>CONTACT US</span></li>
		</ul>
	</div>
	<div class="header">
	<div class="slider">
		<div class="item">
				<p class="title">We aim to become partners of choice bridging the gap between technology and business.</p>
		</div>
		<div class="item">
				<p class="title">We live to leave a legacy by creating unique products that add value to our day to day lives.</p>
		</div>
		<div class="item">
				<p class="title">Our Values are our Cornerstones We live by them and for them.</p>
		</div>
	</div>
	<div class="col-xs-12" style="width:100%; height:40%; background-color:#fff; padding:0;">
	<h6 class="about col-xs-offset-2 col-xs-8">We're here to help you ... your costs are high ... your team is underperforming ... reach out for existing & potential customers ... get more insights. We design innovative solutions tailored to your needs
	</h6>
	</div>
	</div>

	<div class="solutions">
		<div class="content col-xs-offset-1">
			<div class="solution">
				<div id="1"></div>
				<p>You are the best person to describe your business. What do you do? How do you do it?</p>
			</div>
			<div class="solution">
				<div id="2"></div>
				<p>Two minds think better than one... especially if you have a fresh mind on board. We go away with a list of potential improvement</p>
			</div>
			<div class="solution">
				<div id="3"></div>
				<p>Our Team will create solutions to leverage opportunities, mitigate risks, increase efficiency & reduce waste and discuss them with you for fine tuning</p>
			</div>
			<div class="solution">
				<div  id="4"></div>
				<p>To help you make a well informed decision, we create a full proposal for every solution highlighting cons and pros</p>
			</div>
			<div class="solution">
				<div id="5"></div>
				<p>We've decided on what will be done. Now it's time to draw the road map, what will be delivered when and how</p>
			</div>
			<div class="solution">
				<div id="6"></div>
				<p>Your Product is ready</p>
			</div>
			<div class="solution">
				<div id="7"></div>
				<p>You have our full support during the first period of going live to ensure everything goes smoothly & seamlessly</p>
			</div>
			<div class="solution">
				<div id="8"></div>
				<p>Did it really work? Did we deliver as promised? Numbers don't lie</p>
			</div>
		</div>
	</div>

	<div class="empty"></div>

	<div id="edgo" class="edugo">
		<img class="" src="assets/phone.svg"/>
		<div class="content">
			<h6 style="margin:0; color:#1f9aff; width:80%; font-size:inherit;">EDUGO</h6>
			<p style="font-size:0.2em; margin-bottom:8%; margin-left:1%; margin-right:5%; height:8%; color:#888;">ReDefining the Learning Experience.</p>
			<p style="font-size:0.5em; margin-bottom:10vh;">A UNIQUE Mobile Education Management System</p>

			<div class="button"><span></span></div>
		</div>
	</div>

	<div ng-controller="projectsctrl as Viewer" class="projects">
		<div class="content">
		<div class="obj" ng-repeat="project in Viewer.projects"><project></project></div>
		</div>
	</div>

	<div class="partners center-width">
			<div class="content">
	<ul class="logos center-width">
			<li>
			<a href="http://www.kryptonworx.com/" target="_blank"><img class="center-width" src="assets/kwx.svg" /></a>
			<div class="popup">
				<h6>Krypton Worx</h6>
				<p>USA</p>
			</div>
		</li>
		<li>
		<a href="" target="_blank"><img class="center-width" src="assets/ba.svg" /></a>
		<div class="popup">
				<h6>Born Ahead</h6>
				<p>Saudi Arabia</p>
			</div>
		</li>
		<li>
			<a href="http://interface.ae/" target="_blank"><img class="center-width" src="assets/interface.svg" /></a>
			<div class="popup">
				<h6>Interface</h6>
				<p>UAE</p>
			</div>
		</li>
	</ul>
	<div class="map center-width">
		<div id="loc1" class="location"></div>
		<div id="loc2" class="location"></div>
		<div id="loc3" class="location"></div>
	</div>
	</div>
	</div>

	<div class="team">
		<div class="members col-xs-offset-1">
		<div class="member">
			<div class="pic">
				<img src="assets/moataz.jpg"/>
				<div>CO-FOUNDER</div>
			</div>
			<h6>MOATAZ MOHEY</h6>
		</div>
		<div class="member">
			<div class="pic">
				<img src="assets/mohsen.jpg"/>
				<div>CO-FOUNDER</div>
			</div>
			<h6>AHMED MOHSEN</h6>
		</div>

		<div class="member">
			<div class="pic">
				<img src="assets/karim.png"/>
				<div>BACK-END DEVELOPER</div>
			</div>
			<h6>KARIM AZAB</h6>
		</div>

		<div class="member">
			<div class="pic">
				<img src="assets/habib.jpg"/>
				<div>ANDROID DEVELOPER</div>
			</div>
			<h6>MOHAMMED HABIB</h6>
		</div>
		<div class="member">
			<div class="pic">
				<img src="assets/eman.png"/>
				<div>IOS<br>DEVELOPER</div>
			</div>
			<h6>NOUR ELHASSANY</h6>
		</div>
		<div class="member">
			<div class="pic">
				<img src="assets/eman.png"/>
				<div>IOS<br>DEVELOPER</div>
			</div>
			<h6>EMAN REZK</h6>
		</div>

		<div class="member">
			<div class="pic">
				<img src="assets/azzam.jpg"/>
				<div>FRONT-END DEVELOPER</div>
			</div>
			<h6>HASSAN AZZAM</h6>
		</div>
		<div class="member">
			<div class="pic">
				<img src="assets/habib.png"/>
				<div>ANDROID DEVELOPER</div>
			</div>
			<h6>YOUSSEF FOTOUH</h6>
		</div>
	</div>
	</div>

	<div class="footer">
			<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=%2029.985262%2C%2031.279918&key=AIzaSyCNfZtqZ6s6HY7KVguI1z0KpejSE1l8nP8" allowfullscreen></iframe>
			<ul class="content">
				<li class="reg">
					<div class="icon"></div>
					<p>+02 2518 0996</p>
				</li>
				<li class="reg">
					<div class="icon" style="background-position-x:50%; cursor:hand;" onclick="mail()"></div>
					<p>support@yackeensolutions.com</p>
				</li>
				<li class="reg">
					<div class="icon" style="background-position-x:100%"></div>
					<p >52/2 ElRyadh street New Maadi Cairo Egypt</p>
				</li>
			</ul>
			<ul class="links">
					<li>
					<a href="https://www.fb.com/" style="background-image:url(assets/facebook.png);" target="_blank"></a>
					</li>
					<li>
					<a href="https://www.linkedin.com/company/yackeen-solutions" style="background-image:url(assets/linkedin.png);" target="_blank"></a>
					</li>
			</ul>
	</div>

	<img class="toTop" src="assets/top.svg"></img>
</body>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/jquery-ui-1.9.2.min.js"></script>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
	<script src="js/angular.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/flip.js"></script>
	<script src="js/app.js"></script>
	<script src="js/scrollcontroller.js"></script>
	<script src="js/jquery.textfill.min.js"></script>
</html>
