<div class="card">
<div  style="padding:0; overflow:hidden;">
	<img ng-src="assets/{{project.icon}}" style="float:left; height:100%;"/>
</div>
<div style="color:#fff; padding:0; overflow:hidden; display:flex; vertical-align:middle; position:relative;">
	<img ng-src="assets/{{project.icon}}" style="left:-100%; position:absolute; float:left; height:100%;"/>
	<h1 style="width:100%; height:100%; padding:3%; padding-top:15%;">{{project.description }}</h1>
</div>
</div>	