.clouds{
	height: 675px;
	width: 1366px;
	overflow: hidden;
	position: absolute;
	overflow: hidden;
}

.cloud{
	position: absolute;
	height: 58px;
	width: 150px;
    margin: 0;
    padding: 0;
    opacity: 0.5
}

.header{
	height: 680px;
	width: 1366px;
	background-color: #75caff;
	overflow-y: hidden;
}

.logo{
	overflow: hidden;
	width: 200px;
	left:583px;
	position: absolute;
}

.bg{
	position: absolute;
	top:0px;
	height: 3000px;
	width: 1366px;
	overflow: hidden;
}

.bg img{
	position: absolute;
	top: 2px;
	width:1366px;
}

.about{
	overflow: hidden;
	position: relative;
	display: block;
	height: 675px;
	width: 1366px;
	margin-top: 2px;
}

.about h6{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 600;
	margin-top: 200px;
	text-align: center;
	font-size: 55;
	color: #fff;
}

.about p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	margin-top: 60px;
	text-align: center;
	font-size: 28;
	color: #fff;
	padding-left: 200px;	
	padding-right: 200px;
}