@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

::-webkit-scrollbar {
	width:0px;
}
::-webkit-scrollbar-track-piece{
	background:#444;
}
::-webkit-scrollbar-track{
	background:transparent;
}
::-webkit-scrollbar-thumb {
	background-color: #1f9aff;
}

.header, .solutions, .edugo, .projects, .partners, .team, .footer{
	width: 100%;
	height: 100vh;
	padding-top: 8vh;
	float: left;
	background-color: #fff;
	-webkit-overflow-scrolling: touch;
}

div{
	top:0;
	left:0;
}

html{
	min-width: 100%;
	-webkit-overflow-scrolling: touch;
}

body{
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
a:visited,a:active,a:focus,a:hover{
	text-decoration: none;
}

p,h1,h6{
	font-family: 'open sans';
	font-weight: lighter;
	cursor: context-menu;
}

.navigator{
	background-color: #1f9aff;
	height : 12%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	overflow: visible !important;
}

.navigator ul{
	position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  float: right;
  width: 70%;
  margin-right: 20px;
  left:-2%;
}

.active {
	position: absolute;
	background-color: #0e89ff;
	height: 100%;
	top:0;
	left:0;
}

.navigator li{
	cursor: hand;
	display: inline-block;
	color:#fff;
	font-family: 'open sans';
	font-weight: lighter;
	margin:0;
	height: 100%;
	width:14.2%;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
}

h6 {
	font-family: 'open sans';
	font-weight: lighter;
	padding: 0;
	color: #1f9aff;	
}

.header{
	padding: 0;
	overflow: hidden;
	background-size: cover;
	background-position: 0;
	margin: 0;

}

.header p{
	text-align: center;
	height:50%;
	font-weight: lighter;
	color: #fff;
	float: left;
	padding-top:20vh;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	font-size: 50px;
}


.about{
	text-align:center;
	color: #003b5b;
	font-family: 'open sans';
	font-weight: lighter;
	float: left;
	padding-top:5%;
}


.header img{
	float: left;
	width:100%;
	position: absolute;
	z-index:-3;
}

.slider{
	width: 100%;
	white-space: nowrap;
	position: relative;
	height:60%;
	left:0;
	background-image: url("assets/headerbg.jpg");
	background-size: cover;
	padding-top: 12vh;
}
@keyframes slidy {
0% {left: 0%;}
30% {left: 0%;}
40%{ left: -100vw;}
60%{ left: -100vw;}
70%{ left: -200vw;}
90%{ left: -200vw;}
100%{left:0;}
}

.item{
	position: relative;
	display: inline-block;
    width: 100%;
    white-space: normal;
    float: none;
    height: 100%;
    animation: 20s slidy infinite;
}

.solutions .content{
	margin-top: 10vh;
	width: 100%;
	height: 80vh;
	float: left;
}



.splashbg{
	animation: 5s getoff;
	animation-fill-mode: forwards;
}
@keyframes getoff{
		94%{height:100vh;}
		100%{height:0;}
}

.mask{
	width:100%; 
	height:0%; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:10001; 
	background-color:#1f9aff;
	animation: 5s splash;
}

@keyframes splash{
	0%{height:100%;}
	100%{height:0;}
}

.logo{
	float: left;
	position: relative;
	z-index: 1000;
	overflow: visible ;
	background-image: url("assets/yackeen.svg");
	background-repeat: no-repeat;
	height: 50%; top:25%; left:2.5%; transform: translate(0%, 0%);
	background-size: cover;
	cursor: hand;
	animation: 5s scale;
}
@keyframes scale{
	0%{width: 40vmin; height: 40vmin; top:50vh; left:50vw; transform: translate(-50%, -50%);}
	70%{width: 40vmin; height: 40vmin; top:50vh; left:50vw; transform: translate(-50%, -50%);}
	100%{width: 6vh; height: 50%; top:25%; left:2.5%; transform: translate(0%, 0%);}
}

.logo:hover{
	text-decoration: none;
}

.edugo{
	overflow: hidden;
}

@media only screen and (orientation: landscape){
	.solutions .content p{
			font-size: 2.2vh;
		}
		.solutions .content .solution{
			height:50%;
			width:25%;
		}
	.projects .content .obj{
			width:33.333%;
			height: 50%;
		}
		.projects .content{
			margin-left:20%;
			width: 60%;
		}
	.member{
			height:50%;
			width:25%;
		}
		.member .pic div{
			padding: 17%;
			padding-top: 35%;
			font-size: 2.5vh;
		}
		.member h6{
			font-size: 3vh;
		}
	.footer .content .icon{
		width: 12%
	}
	.footer .content p{
		position: absolute;
		font-size: 3.2vh;
		top:50%;
		left:15%;
		width:75%;
		transform: translate(0,-50%);
	}
	.footer .links{
		width:25%;
		margin-top: 2%;
		height:12%;
	}
	.logo{
		width:30vh;
	}
	.slider{
		background-position-y: -20vh; 
	}
	.header .item .title{
		font-size: 6vh;
	}
	.about{
		font-size: 4vh;
	}
	.edugo img{
		height:90%;
		width:50%;
		float: left;
		position:relative;
	}
	.edugo .content{
		height: 80vh;
		width:41.6%;
		margin-top:16vh;
		font-size: 10vh;
	}
	.edugo .button{
		border-radius: 1.2vh;
		font-size: 2vw;
		width: 50%;
	}
	.partners .popup{
		font-size: 2.7vh;
	}
}
@media only screen and (orientation: portrait){
	.solutions .content p{
			font-size: 2vw;
		}
		.solutions .content .solution{
			height:25%;
			width:50%;
		}
	.projects .content .obj{
			width:50%;
			height:33.333%;
		}
		.projects .content{
			width:80%;
			margin-left: 10%;
		}
	.member{
			height:25%;
			width:50%;
		}
		.member .pic div{
			padding: 17%;
			padding-top: 20%;
			font-size: 2.5vw;
		}
		.member h6{
			font-size: 3vw;
		}
	.footer .content .icon{
		width: 41.666%
	}
	.footer .content{
		padding-left: 10%;
	}
	.footer .content p{
		margin-top: 8%;
		font-size: 2.5vw;
		width:100%;
	}
	.footer .links{
		width:35%;
		margin-top:5%;
		height:15%;
	}
	.logo{
		width:6vh;
	}
	.slider{
		background-position-y: 0vh; 
	}
	.header .item .title{
		font-size: 6vw;
	}
	.about{
		font-size: 4vw;
	}
	.edugo img{
		display: none;
	}
	.edugo .content{
		height: 80vh;
		width:80%;
		margin-top:15vh;
		margin-left:12vw;
		float: left;
		font-size: 15vw;
	}
	.edugo .button{
		height: 80%;
		width:80%;
		font-size: 6vw;
		border-radius: 1.6vw;
	}
	.partners .popup p{
		font-size: 2.7vw;
	}
	.partners .content{
		height:60vh;
		margin-top:16vh;
	}
	.partners .content .map{
		margin-top:11vh;
	}

}

.edugo .content .brief{
	margin-left: 0;
	color: #555;
	font-family: 'open sans';
	font-weight: lighter;
	height:20%;
	margin-bottom: 10%;
}

.edugo .button{
	float: left;
	height: 10.5vh;
	line-height: 8.4vh;
}	

.projects{
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;   
}
.projects .content{
		
		height: auto;
		-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;   
box-sizing: border-box;  
	}
	.projects .obj{
		float: left;
		-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;   
box-sizing: border-box;  
	}

.projects .card{
	width: 100%;
	height: 100%;
}


project h1{
	font-size: 2.5vmin;
	width:100%;
	text-align:center;
	position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 3%;
	font-family: 'open sans';
	font-weight: lighter;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.empty{
	width: 100vw;
	float: left;
}

.footer{
	background-color: #fff;
	padding-top: 8vh;
}

.footer iframe{
	border: 1px solid #bbb;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
	width:46vw;
	margin: 2vmin;
	float: left;
	height: 96%;
}

.footer .content{
	margin-top: 15vmin;
	float: left;
	width: 50%;
	height: auto;
}

.footer .reg{
	float: left;
	margin-bottom:5%;
	display: block;
	width:100%;
	position: relative;
}


.footer .icon{
	background: url("assets/footer.svg");
	background-repeat: no-repeat;
	float: left;
	background-size: cover;
}

.footer p{
	float: left;
	font-size: 18;
	color:#1f9aff;
	padding: 0;
	max-height: 100%;
}


.footer .contact{
	width: 49%;
	height: 96%;
}

.footer .links{
	float: left;
	margin: 0;
	margin-left: 12.5%;
	padding: 0;
}

.footer .links li{
	display: inline;
	width:35%;
	height: 100%;
	float:left;
	margin-right: 10%;
}

.footer .links li a{
	width:100%;
	height: 100%;
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
}

.button{
	height: 15%;
	cursor: hand;
	background-color: #1f9aff;
	color: #fff;
	font-family: 'open sans';
	font-weight: lighter;
	text-align: center;
	padding:2%;
	transition: 0.5s;
}

.footer .button{
	float: right;
	width: 30%;
	height:12%;
	margin-top: 5%;
}

.footer .contact h6{
	height:6%;
	color: #30abff;
}

.button:hover{
	background-color: #0e89ff;
	box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.3);
	transition: 0.5s;
}

.edugo .button span:before{
	content: "TELL ME MORE";
}
.edugo .button:hover span:before{
	content: "COMING SOON";
}

.toTop{
	cursor: hand;
	width:7%;
	height:7%;
	position: fixed;
	top:85%;
	left:90%;
	opacity: 0.3;
	z-index: 3;
	display: none;
	transition: 0.3s;
}

.toTop:hover{
	transition: 0.3s;
	opacity:1;
}

	.member{
		float:left;
		padding: 3%;
	}
	.members{
		float: left;
		width: 83.333%;
		height: 100%;
		padding: 0;
	}
	.member .pic{
		width: 100%;
		height:70%;
		overflow: hidden !important;
		-webkit-mask-image: url(assets/circle.svg);
		-webkit-mask-size: 100% 100%;
	}
	.member img{
		height:100%;
		float: left;
	}
	.member .pic div{
		top:-99%;
		text-align: center;
		height:100%;
		width:100%;
		position: relative;
		left:0;
		opacity: 0;
		cursor: context-menu;
		color: #003b5b;
		margin: 0;
		font-family: 'open sans';
		font-weight: normal;
		float: left;
	}
	.team h6{
		text-align: center; 
		color: #003b5b;
		font-weight: 300;
		height:15%;
		margin: 0;
		margin-top: 5%;
		width: 100%;
		font-family: 'open sans';
		font-weight: lighter;
	}
	.content{
		width:100%;
		height:100%;
		float: left;
	}
	.map{
		background: url(assets/map.svg);
		background-size: contain;
		background-repeat: no-repeat;
		height:80%;
		width:100%;
		position: relative;
		float: left;
	}
	.location{
		background: url(assets/location.svg);
		background-size: contain;
		background-repeat: no-repeat;
		width:3%;
		position: absolute;
		float: left;
		top:0;
		left:0;
	}
	.logos li{
		float:left;
		display: inline;
		width:33.33%;
		height:100%;
	}
	.logos{
		width:40%;
		float: left;
		height:20%;
		margin:0;
		padding: 0;
		margin-top:2%; 
		margin-bottom: 1%;
	}
	.logos li a{
		float:left;
		width:100%;
		height:50%;
		z-index: 2;
		position: relative;
	}
	.logos li img{
		height:100%;
	}
	.popup{
		float: left;
		opacity: 0;
		position: relative;
		top: -30%;
		width:100%;
		height:50%;
	}
	.popup h6{
		font-size: inherit;
		width:100%;
		color: rgb(0,59,91);
	font-family: 'open sans';
		font-weight: lighter;
		padding: 0;
		margin: 0;
		height:45%;
		float: left;
		text-align: center;
	}
	.popup p{
		font-size: 0.8em;
		width:100%;
		color: #bbb;
	font-family: 'open sans';
		font-weight: lighter;
		padding: 0;
		margin: 0;
		float:left;
		text-align: center;
		margin-top:-0%;
	}
	.popup span{
		text-align: center;
	}
	#loc1 {
			top: 20%;
			left:29%;
	}
	#loc2 {
			top: 35%;
			left:77.5%;
	}
	#loc3 {
			top: 34%;
			left:82.5%;
	}
	.solutions .content{
		width: 83.333%;
		height:100%;
		-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;   
box-sizing: border-box;  
	}
	.solutions .solution{
		float: left;
		-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;   
box-sizing: border-box;  
	}
	.solutions .content .solution div{
		height:30%;
		background-image: url("assets/solutions.svg");
		background-repeat: no-repeat; 
		background-size: cover;
		float: left;
		margin-bottom: 5%;
	}
	.solutions .content p{
		padding: 2.5%;
		color:#777;
		text-align: center;
		margin: 0;
		width: 100%;
		float: left;
		position: relative;
		font-family: 'open sans';
		font-weight: lighter;
		top:0;
		height:65%;
	}