<!DOCTYPE>
<html ng-app="Viewer">
<title>
Yackeen 
</title>
<body>
	<div class="navigator">
		<a class="logo" href="index.html"></a>
		<div class="active"></div>
		<ul>
			<li id="s0" class=""><span>ABOUT</span></li>
			<li id="s1" class=""><span>SOLUTIONS</span></li>
			<li id="s2" class=""><span>EDUGO</span></li>
			<li id="s3" class=""><span>PROJECTS</span></li>
			<li id="s4" class=""><span>PARTNERS</span></li>
			<li id="s5" class=""><span>TEAM</span></li>
			<li id="s6" class="jtextfill"><span>CONTACT US</span></li>
		</ul>
	</div>
	<div class="header">
	<div class="slider">
		<div class="item">
				<p class="jtextfill title col-md-5 col-md-offset-1"><span>We aim to become partners of choice bridging the gap between technology and business.</span></p>
				<img class="col-md-4 col-md-offset-1" src="assets/cogwheel.svg" />
		</div>
		<div class="item">
				<p class="jtextfill title col-md-5 col-md-offset-1"><span>We live to leave a legacy by creating unique products that add value to our day to day lives.</span></p>
				<img class="col-md-4 col-md-offset-1" src="cogwheel.svg" />
		</div>
		<div class="item">
				<p class="jtextfill title col-md-5 col-md-offset-1"><span>Our Values are our Cornerstones We live by them and for them.</span></p>
				<img class="col-md-4 col-md-offset-1" src="cogwheel.svg" />
		</div>
	</div>

	<div class="nodes">
		<div id="n1" class="node"></div>
		<div id="n2" class="node"></div>
		<div id="n3" class="node"></div>
	</div>
	</div>
	<div class="solutions">
		<div class="col-md-offset-2 col-md-8">
			<h6 class="jtextfill"><span>We're here to help you ... whether Your costs are high ... Your team is underperforming ... You want to reach out for existing & potential customers ... You want to get more insights? We design innovative solutions tailored to your needs</span></h6>
		</div>
		<div class="content">
			<div class="solution">
				<div id="1"></div>
				<p class=""><span>You are the best person to describe your business. What do you do? How do you do it?</span></p>
			</div>
			<div class="solution">
				<div id="2"></div>
				<p class=""><span>Two minds think better than one... especially if you have a fresh mind on board. We go away with a list of potential improvement</span></p>
			</div>
			<div class="solution">
				<div id="3"></div>
				<p class="jtextfill"><span>Our Team will create solutions to leverage opportunities, mitigate risks, increase efficiency & reduce waste and discuss them with you for fine tuning</span></p>
			</div>
			<div class="solution">
				<div  id="4"></div>
				<p class=""><span>To help you make a well informed decision, we create a full proposal for every solution highlighting cons and pros</span></p>
			</div>
			<div class="solution">
				<div id="5"></div>
				<p class=""><span>We've decided on what will be done. Now it's time to draw the road map, what will be delivered when and how</span></p>
			</div>
			<div class="solution">
				<div id="6"></div>
				<p class=""><span>Your Product is ready</span></p>
			</div>
			<div class="solution">
				<div id="7"></div>
				<p class=""><span>You have our full support during the first period of going live to ensure everything goes smoothly & seamlessly</span></p>
			</div>
			<div class="solution">
				<div id="8"></div>
				<p class=""><span>Did it really work? Did we deliver as promised? Numbers don't lie</span></p>
			</div>
		</div>
	</div>

	<div class="edugo">
		<img class="col-md-3 col-md-offset-2" src="assets/phone.svg"/>
		<div class="content col-md-5 col-md-offset-1">
			<h6 class="col-md-12" style="margin:0;"><span style="font-size:5vw;">EDUGO</span></h6>
			<p class="jtextfill col-md-6" style="margin:0; margin-bottom:8%; margin-left:1%; height:8%; color:#1a1a1a;"><span>ReDefining the Learning Experience.</span></p>
			<p class="jtextfill brief col-md-10">A UNIQUE Mobile Education Management System</p>

			<div class="col-md-5 button jtextfill "><span>LEARN MORE</span></div>
		</div>
	</div>

	<div ng-controller="projectsctrl as Viewer" class="projects">
		<div class="content">
			<project ng-repeat="project in Viewer.projects" repeat-end="enableFlip()"></project>
		</div>
	</div>

	<div class="partners">
		<div class="partner">
			<a href=""><img class="col-md-12" src="kwx.svg"/></a>
			<h6 class="jtextfill col-md-12"><span>Born Ahead</span></h6>
		</div>
		<div class="partner">
			<a href="http://kryptonworx.com/"><img class="col-md-12" src="assets/kwx.svg"/></a>
			<h6 class="jtextfill col-md-12"><span>Krypton Worx</span></h6>
		</div>
		<div class="partner">
			<a href="http://interface.ae/"><img class="col-md-12" src="assets/interface.svg"/></a>
			<h6 class="jtextfill col-md-12"><span>Interface</span></h6>
		</div>
	</div>

	<div class="team">
		<div class="members">
			<p class="jtextfill"><span>ANDROID DEVELOPMENT</span></p>
			<div class="tool" style="background-position-x: -0%;"></div>
			<h6 class="jtextfill"><span>Mohamed Habib</span></h6>
		</div>
		<div class="members">
			<p class="jtextfill"><span>IOS<br>DEVELOPMENT</span></p>
			<div class="tool" style="background-position-x: -100%;"></div>
			<h6 class="jtextfill"><span>Eman Rezk</span></h6>
		</div>
		<div class="members">
			<p class="jtextfill"><span>FRONT-END DEVELOPMENT</span></p>
			<div class="tool" style="background-position-x: -200%;"></div>
			<h6 class="jtextfill"><span>Hassan Azzam</span></h6>
		</div>
		<div class="members">
			<p class="jtextfill"><span>BACKEND DEVELOPMENT</span></p>
			<div class="tool" style="background-position-x: -299%;"></div>
			<h6 class="jtextfill"><span>Ahmed Mohsen</span></h6>
			<h6 class="jtextfill"><span>Karim Azab</span></h6>

		</div>
	</div>

	<div class="footer">
		<div class="" style="background-color:#1A1A1A; padding:2%; height:100%;">
			<iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=%2029.985262%2C%2031.279918&key=AIzaSyCNfZtqZ6s6HY7KVguI1z0KpejSE1l8nP8" allowfullscreen></iframe>
			<div class="contact">
				<h6 class="jtextfill"><span> Email: </span></h6>
				<textarea type="text" class="email" rows="1" maxlength="50"></textarea>
				<h6 class="jtextfill"><span> Message: </span></h6>
				<textarea type="text" class="message"></textarea>
				<div class="button jtextfill"><span>SUBMIT</span></div>
			</div>
			<div class="content">
				<div class="reg" style="width:17%">
					<div class="icon"></div>
					<p class="jtextfill"><span>+02 2518 0996</span></p>
				</div>
				<div class="reg" style="width:33%">
					<div class="icon" style="background-position-x:-100%"></div>
					<p class="jtextfill"><span>support@yackeensolutions.com</span></p>
				</div>
				<div class="reg" style="width:44%">
					<div class="icon" style="background-position-x:-200%"></div>
					<p class="jtextfill"><span>52/2 ElRyadh street New Maadi Cairo Egypt</span></p>
				</div>
			</div>
		</div>
	</div>

<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/jquery-ui-1.9.2.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/app.js"></script>
	<script src="js/flip.js"></script>
	<script src="js/scrollcontroller.js"></script>
	<script src="js/jquery.textfill.min.js"></script>
	<script src="assets/Projects.json"></script>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</body>
</html>
