<div  style="padding:0; overflow:hidden;">
	<img ng-src="assets/{{project.icon}}" style="float:left; height:100%;"/>
</div>
<div style="color:#fff; padding:0; overflow:hidden;">
	<img ng-src="assets/{{project.icon}}" style="left:-100%; position:absolute; float:left; height:100%;"/>
	<h1 class="jtextfill"><span>{{project.description }}</span></h1>
</div>