div{
	top:0;
	left:0;
}

body{
	overflow-x: hidden;
}

p{
font-family: Segoe UI;
	font-weight: lighter;

}

pre{
	white-space: pre-wrap;
	word-break: keep-all;
	display: inline;
	background-color: transparent;
	border: 0px;
	border-radius: 0;
	font-family: Segoe UI;
	font-weight: lighter;
}

.navigator{
	background-color: #1f9aff;
	height : 12%;
	width: 100vw;
	position: fixed;
	top:0;
	left:0;
	z-index: 2;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.navigator ul{
	position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  float: right;
  width: 70%;
  margin-right: 20px;
  left:-2%;
}

.active {
	position: absolute;
	background-color: #0e89ff;
	height: 100%;
	top:0;
	left:0;
}

.navigator li{
	cursor: hand;
	display: inline-block;
	color:#fff;
	font-family: Segoe UI;
	font-weight: lighter;
	margin:0;
	height: 100%;
	width:14.2%;
	text-align: center;
}

h6 {
	font-family: Segoe UI;
	font-weight: lighter;
	padding: 0;
	font-size: 70px;
	color: #1f9aff;	
}


.about{
	margin-top: 5vw;
	margin-left: 9vw;
	opacity: 0;
}

.header{
	height: 100%;
	background-color: #fff;
	padding: 0;
	overflow: hidden;
	margin: 0;

}

.header p{
	background-color: #fff;
	height:50%;
	font-size: 35;
	font-family: Segoe UI;
	font-weight: lighter;
	color: #003b5b;
	float: left;
	margin-top: 13%;
}

.header img{
	float: left;
	margin-top: 6%;
}

.slider{
	background-color: #fff;
	width: 300%;
	white-space: nowrap;
	position: relative;
	height:85%;
	left:0;
	margin: 0;
	animation: 20s slidy infinite;
}

.item{
	display: inline-block;
    width: 33.3%;
    white-space: normal;
    float: none;
    height: 100%;
}

.buttons{
	position: absolute;
	height: 100%;
}

@keyframes slidy {
0% {left: 0%;}
30% {left: 0%;}
40%{ left: -100%;}
60%{ left: -100%;}
70%{ left: -200%;}
90%{ left: -200%;}
100%{left:0;}
}

.nodes{
	padding-left: 42%;
	height: 15%;
}

.node{
	border-radius: 100%;
	height: 20%;
	margin: 0;
	margin-right:12%;
	background-color: #eee;
	float: left;
	border: 1px solid #003b5b;
	
}

.nodes div#n1{
	animation: 20s led1 infinite;
}

@keyframes led1 {
0% { background-color: #003b5b; }
34% { background-color: #003b5b; }
36%{ background-color: #eee; }
98%{ background-color: #eee;}
}

.nodes div#n2{
	animation: 20s led2 infinite;
}

@keyframes led2 {
0% { background-color: #eee; }
34% { background-color: #eee; }
36%{ background-color: #003b5b; }
64%{ background-color: #003b5b; }
66%{ background-color: #eee;}
}

.nodes div#n3{
	animation: 20s led3 infinite;
}

@keyframes led3 {
0% { background-color: #eee; }
64%{ background-color: #eee; }
66%{ background-color: #003b5b;}
98%{ background-color: #003b5b;}
}


.logo{
	float: left;
	position: relative;
	width: 18.5vw;
	top:25%;
	left:2vw;
	z-index: 3;
	height: 50%;
	overflow: hidden;
	background-image: url("assets/yackeen.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0px 0px;
}

.logo:hover{
	text-decoration: none;
}


.edugo{
	height: 100%;
	background-color: #fff;
	padding-top:7%;
	overflow: hidden;
	float: left;
}

.edugo img{
}

.edugo .content{
	background-color: #fff;
	height: 80%;
}

.edugo .content .brief{
	margin-left: 0;
	color: #1a1a1a;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 25px;
}

.edugo .button{
	float: left;
	margin: 3%;
}

.projects{
	height: 100%;
	background-color:#fff; 
	padding: auto;
	float: left;
}

.projects .content{
	width:100%;
	height:100%;
	padding-left: 20%;
}

project{
	float: left;
	display: inline;
	margin-right:2%;
	margin-top: 2%;
	height:45%; 
	color:#1A1A1A;
	padding: 0;
	position: relative;
}

project h1{
	width:100%;
	font-size:19; 
	text-align:center;
	position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 2%;
    font-family: Segoe UI;
	font-weight: lighter;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.solutions{
	background-color:#fff; 
	height: 100%;
	padding: 0;
	float: left;
}

.solutions .content{
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	opacity: 0;
	padding-top: 3%;
	background-color: #fff;
}

.solutions h6{
	background-color: #fff; 
	text-align:center;
	font-size: 26;
	color: #003b5b;
	font-family: Segoe UI;
	font-weight: lighter;
	float: left;
	margin: 0;
	width: 100%;
	height: 24%;
}

.solutions .content .solution{
	margin-left: 4%;
	margin-bottom: 1%;
	float: left;
	width:20%;
	height: 40%;
}

.solutions .content .solution div{
	height:30%;
	margin-left: 40%;
	background-image: url("assets/solutions.svg");
	background-size: 800%;
	float: left;
}

.solutions .content p{
	text-align: center;
	font-size: 1.2vw;
	margin: 0;
	width: 100%;
	float: left;
	position: relative;
	font-family: Segoe UI;
	font-weight: lighter;
	top:0;
	height:70%;
}

.partners{
	height: 100%;
	padding: 0;
	padding-top: 5%;
	float: left;	
	margin: 0;
}

.partner{
	width: 20%;
	margin: 0;
	margin-left:9%;
	float: left;
	padding-top: 2%; 
}

.partner a{
	width: 20%;
	height: 20%;
	background-repeat: no-repeat;
	background-size: 20%;

}

.partner h6{
	float: left;
	text-align: center;
	color: #003b5b;
	width: 100%;
	height: 8%;
}

.team{
	width: 100%;
	height: 100%;
	padding: 0;
	padding-top: 20%;
	float: left;
	background-color: #fff;
}

.team .members{
	width: 15%;
	margin: 0;
	margin-left: 8%;
	float: left;
}

.team .members p{
	color:#1A1A1A;
	text-align: center;
	position: relative;
	width: 100%;
	font-weight: normal;
	font-size: 18;
	z-index: 0;
	display: block;
	float: left;
	top:0;
}

.team h6{
	font-size: 28;
	text-align: center; 
	line-height: 40px;
	color: #003b5b;
	font-weight: 300;
	height:10%;
	width: 100%;
}
.team .tool{
	width:66.66%;
	margin: 0;
	margin-left: 16.66%;
	margin-bottom: 20%;
	background: url("assets/tools.svg");
	background-size: 400%;
	height: 10%;
	z-index: 3;
}


.footer{
	height:100%;
	float: left;
	padding: 0;
}

.footer iframe{
	border: 0;
	width:50%;
	margin: 0;
	float: right;
	height: 93%;
}

.footer .content{
	float: left;
	width: 100%;
}

.footer .reg{
	margin-left: 2%;
	float: left;
	width:28%;
	height:7%;
}


.footer .icon{
	background: url("assets/footer.svg");
	height: 70%;
	background-size: 300%;
	margin-right: 2%;
	float: left;
	margin-top: 3%;
}

.footer p{
	float: left;
	font-size: 18;
	color:#fff;
	margin-top: 2.5%;
	padding: 0;
	width: 80%;
	height:90%;
}

.footer h6{
	width: 100%;
	float: left;
	font-size: 22;
	color:#fff;
	margin-top: 0;
}

.footer textarea{
	resize: none;
	vertical-align: top;
	float: left;
	width:100%;
	color: #1a1a1a;
	font-size: 22;
	font-family: Segoe UI;
}

.footer .email{
	margin-bottom: 5.5%;
	height: 8%;
}

.footer .message{
	height: 30%;
}

.footer .contact{
	width: 48%;
	height: 93%;
}

.button{
	height: 15%;
	cursor: hand;
	
	background-color: #1f9aff;
	color: #fff;
	font-size: 22;
	font-family: Segoe UI;
	font-weight: lighter;
	text-align: center;
	border-radius: 5px;
	padding: 2%;
}

.footer .button{
	float: right;
	width: 30%;
	height:12%;
	margin-top: 5%;
}

.footer .contact h6{
	height:8%;
}

